<div class="container mt-4">
    <h4>Balances as of {{data?.uploadDate| date:'MMM-dd'}}
    </h4>
    <table class="table table-striped table-bordered">
        <!-- Header Row -->
        <thead class="thead-dark">
            <tr>
                <th scope="col">R&D</th>
                <th scope="col">Canteen</th>
                <th scope="col">CEO’s car</th>
                <th scope="col">Marketing</th>
                <th scope="col">Parking fines</th>
            </tr>
        </thead>
        <!-- Detail Row -->
        <tbody>
            @if (data) {
            <tr>
                <td>{{ data.rnD }}</td>
                <td>{{ data.canteen }}</td>
                <td>{{ data.ceoCar }}</td>
                <td>{{ data.marketing }}</td>
                <td>{{ data.parkingFines }}</td>
            </tr>
            }
            <!-- Loading Template -->
            <ng-template #loading>
                <tr>
                    <td colspan="5" class="text-center">Loading...</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>